form {
	display: grid;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin: 2rem auto 0 auto;
	max-width: 600px;
	padding: 1em;
  }
  form input {
	background: #fff;
	border: 1px solid #9c9c9c;
  }
  form button {
	background: lightgrey;
	padding: 0.7em;
	width: 100%;
	border: 0;
  }
  form button:hover {
	background: gold;
  }
  
.nav__link{
	overflow: hidden;
	background-color: #333;
	width: 100%;
}

.nav__link a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  label {
	padding: 0.5em 0.5em 0.5em 0;
  }
  
  input {
	padding: 0.7em;
	margin-bottom: 0.5rem;
  }
  input:focus {
	outline: 3px solid gold;
  }

  .blueButton {
	-moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
	box-shadow: inset 0px -3px 7px 0px #29bbff;
	background-color: #0088BB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #0088BB;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}
  
  @media (min-width: 400px) {
	form {
	  grid-template-columns: 200px 1fr;
	  grid-gap: 16px;
	}
  
	label {
	  text-align: right;
	  grid-column: 1 / 2;
	}
  
	input,
	button {
	  grid-column: 2 / 3;
	}
  }
  