<!DOCTYPE html>
<html>
<head>
    <title>Delete Confirmation</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container_delete mt-5">
        <form action=" " method="post">
            <p>Click YES to confirm</p>
            <button type="submit" class="btn btn-danger">YES</button>
            <a href="/employees" class="btn btn-secondary ml-2">Cancel</a>
        </form>
    </div>

    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

