<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Leave Application</title>
    
    <link rel="stylesheet" href="/static/css/leavereq.css">
</head>
<body>
    <div class="container">    
	    <div class="title">Employee Leave Application</div>

        <form action="/leave" method="POST">
          <div class="user__details">
           
            <div class="input__box">
              <span class="details">Staff Number</span>
              <input type="text" name="staff_number" value="{{ current_user.staff_number }}" readonly>
            </div>
			<div class="input__box">
			  <span class="details">Staff Name</span>
			  <input type="text" name="staff_name" value="{{ current_user.first_name + ' ' + current_user.last_name }}" readonly>
			  </div>
              <div class="input__box">
                <span class="details">Start Date</span>
                <input type="date" name="start_date" placeholder="" required>
              </div>
              <div class="input__box">
                <span class="details">End Date</span>
                <input type="date" name="end_date" placeholder="" required>
              </div>
              <div class="input__box ">
                <span class="details">Leave Type</span>
                <select name="leave_type">
                  <option value="">Please select leave type</option>
                  <option value="Maternity">Maternity</option>
                  <option value="Bereavement">Bereavement</option>
                  <option value="Annual">Annual</option>
                  <option value="Sick">Sick</option>
                  <option value="Sick">Sabatical</option>
                  <option value="Sick">Others</option>
                  </select>
              </div>
          

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{{ messages[0] }}
			{% endif %}
		{% endwith %}
      
          </div>
          <div class="button">
		  <input type="submit" value="Submit"><span></span>
	 <a href='/home'><input type="button" value="Cancel"></a>
          </div>
          </div>
         
        </form>
      </div>
   
</body>
</html>
