<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Leaves</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon-32x32.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Link Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/leave.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="">HR-MAN<span>.</span></a></h1>

      <nav class="nav__menu d-none d-lg-block">
        <!--
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#counts">Staistics</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
	  </ul>--!>
      </nav><!-- .nav-menu -->

      <a href="/logout" class="get-started-btn scrollto">Log Out</a>        

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>View Leave Approval</h2>
          <ol>
	    <li><a href="{{ url_for('home') }}">Home</a></li>
            <li>Leave Approval</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="table__wrapper">
      <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% elif category == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% elif category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    </div>
      <table>
        <thead>
          <tr>
	    <th>Staff Number</th>
            <th>Staff Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Requested Days</th>
            <th>Remaining Days</th>
            <th>Current Status</th>
            <th>Comments</th>
            <th style='width: 150px;'>Decision</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
          <td>{{row.staff.staff_number}}</td>
          <td>{{row["staff_name"]}}</td>
          <td>{{row["start_date"].strftime('%Y-%m-%d')}}</td>
          <td>{{row["end_date"].strftime('%Y-%m-%d')}}</td>
          <td>{{row["leave_type"]}}</td>
          <td>{{row["requested_days"]}}</td>
		  <td>{{row["remaining"]}}</td>
		  <td>{{row["leave_status"]}}</td>
 
         <form id="myForm" action="/process_form" method="POST">

		<td><label for="comment"></label>
		<textarea id="comment" name="comment" placeholder="write your comments and update" rows="1" cols="30"></textarea></td>

        <td><button style='margin-right: 5px;' type="button" onclick="submitForm('accept', '{{ row.staff.staff_number }}')">Accept</button>
        <button type="button" onclick="submitForm('reject', '{{ row.staff.staff_number }}')">Decline</button></td>
    </form>    
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- {% with messages = get_flashed_messages() %}
			{% if messages %}
				{{ messages[0] }}
			{% endif %}
		{% endwith %}
       -->
	<script>
        function submitForm(decision, staffNumber) {
			 var form = document.getElementById('myForm');
			 var existingDecisionInput = document.getElementById('decisionInput');
    		 if (existingDecisionInput) {
				 existingDecisionInput.remove();
    }
            // Set the selected decision in the hidden input field
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
			hiddenInput.id = 'decisionInput';
            hiddenInput.name = 'decision';
            hiddenInput.value = decision || 'pending';

		    var hiddenStaffNumberInput = document.createElement('input');
        	hiddenStaffNumberInput.type = 'hidden';
        	hiddenStaffNumberInput.name = 'staff_number';
        	hiddenStaffNumberInput.value = staffNumber;

			var commentInput = document.createElement('input');
    		commentInput.type = 'hidden';
    		commentInput.name = 'comment';
    		commentInput.value = document.getElementById('comment').value;

			//form.appendChild(decisionInput);
			form.appendChild(hiddenInput);
			form.appendChild(hiddenStaffNumberInput);
    		form.appendChild(commentInput);
            form.submit();
        }
    </script>
    
	

  </main><!-- End #main -->

 
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Link Bootstrap JS and jQuery (for close functionality) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
