<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
    <script src="static/js/login.js" defer ></script>
    <!-- Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicon-16x16.png ">
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" method="POST" action="/login">
{% with messages = get_flashed_messages() %}
  {% if messages %}
        <h2>{{ messages[0] }}</h2>
  {% else %}
        <h2>SIGN IN TO YOUR ACCOUNT</h2>
  {% endif %}
{% endwith %}
        <input type="text" required placeholder="Email" id="user" name="email" autocomplete="off" />
        <input oninput="return formvalid()" type="password" name="password" required placeholder="Password" id="pass" autocomplete="off" />
        <img src="https://cdn2.iconfinder.com/data/icons/basic-ui-interface-v-2/32/hide-512.png" onclick="show()" id="showimg">
        <span id="vaild-pass"></span>
        <button type="submit">SIGN IN</button>
	<p class="message"><a href="{{ url_for('resetpwd') }}">Forgot your password?</a></p>
      </form>
    </div>
  </div>
</body>
</html>
