<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <div class="container">
	{% if current_user.is_authenticated %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <h1 class="title">{{ messages[0] }}</h1><span><a href="{{ url_for('home') }}"><button class="button">Home</button></a></span>
    {% endif %}
  {% endwith %}
        <h1 class="title">Personal Details</h1>
        <div class="grid">
            <div class="form-group a">
                <label for="name">First Name</label>
		<input id="name" type="text" readonly placeholder='{{ current_user.first_name }}'>
            </div>
    
            <div class="form-group b">
                <label for="last-name">Last Name</label>
                <input id="first-name" type="text" readonly placeholder='{{ current_user.last_name }}'>
            </div>
    
            <div class="form-group email-group">
                <label for="email">Email</label>
                <input id="email" type="text" readonly placeholder='{{ current_user.email }}'>
            </div>
       
            <div class="form-group phone-group">
                <label for="phone">Telephone (mobile)</label>
                <input id="phone" type="text" readonly placeholder='{{ current_user.phone }}'>
            </div>
    
            <div class="form-group">
                <label for="address">National ID</label>
                <input id="address" type="text" readonly placeholder='{{ current_user.NID }}'>
            </div>

            <div class="form-group">
                <label for="Gender">Gender</label>
		<input id="address" type="text" readonly placeholder='{{ current_user.gender }}'>
		<!---
                <select name="gender" readonly>
                    <option value="">Please select one</option>
                    <option value="female">Female</option>
                    <option value="male">male</option>
                </select>
		--!>
            </div>

            <div class="form-group">
                <label for="city">Date of Birth</label>
                <input id="date" type="text" placeholder='{{ current_user.date_of_birth }}'>
            </div>
    
            <div class="form-group">
                <label for="zip">SSNIT Number</label>
                <input id="zip" type="text" placeholder='{{ current_user.SSNIT }}'> <br/>
            </div>
        </div>

        <h1 class="title">Employment Details</h1>
        <div class="grid">
            <div class="form-group a">
                <label for="name">Staff Number</label>
                <input id="name" type="text"  readonly placeholder='{{ current_user.staff_number }}'>
            </div>
            <div class="form-group b">
                <label for="last-name">Employment Date</label>
                <input id="date" type="text" readonly placeholder='{{ current_user.employment_date }}'>
            </div>
    
       
            <div class="form-group ">
                <label for="phone">Department </label>
                <input id="phone" type="text" readonly placeholder='{{ current_user.department }}'>
            </div>
            <div class="form-group ">
                <label for="last-name">Position</label>
                <input id="first-name" type="text" readonly placeholder='{{ current_user.position }}'>
            </div>
        </div>
	{% endif %}
        <h1 class="title">Bank Details</h1>
        <div class="grid">
	    {% if bank %}
            <div class="form-group a">
                <label for="name">Bank Name</label>
                <input id="name" type="text" readonly placeholder='{{ bank.name }}'>
            </div>

	    <div class="form-group a">
                <label for="name">Branch</label>
                <input id="name" type="text" readonly  placeholder='{{ bank.branch }}'>
            </div>

            <div class="form-group b">
                <label for="last-name">Branch code</label>
                <input id="first-name" type="text" readonly  placeholder='{{ bank.code }}'>
            </div>

	    <div class="form-group a">
                <label for="name">Account Name</label>
		<input id="name" type="text" readonly  placeholder='{{ bank.account_name }}'>
            </div>

            <div class="form-group ">
                <label for="phone">Account Number</label>
                <input id="phone" type="text" readonly  placeholder='{{ bank.account_number }}'>
            </div>
            <div class="form-group ">
	    <!---
                <label for="phone">Account Name</label>
                <input id="phone" type="text" readonly>
	    --!>
            </div>
	    {% else %}
	    <div class="form-group ">
	        <label for="phone">No Bank Details Please Update</label>
	    </div>
	    {% endif %}
            <div class="button-container">
	      <a href="{{ url_for('update_profile') }}"><button class="button">Update</button></a>
	      <a href='/home'><button class="button" type='button'>Home</button></a>
            </div>
	</div>
    </div>
    
</body>
</html>
